<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- reset.css -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- local css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- page title -->
    <title>Jarret Yingling - Train Schedule</title>
</head>

<body>
    <main id="main-container" class="container" role="main">

        <section class="row">
            <div class="col-12">
                <img src="/assets/img/burger.png" alt="burger" class="mx-auto d-block">
                <h1 class="text-center">Eat-Da-Burger</h1>
            </div><!-- end row 1 col 1 -->
        </section><!-- end row 1 -->

        <!-- express-handlebars body injection -->
        {{{body}}}

    </main><!-- end main container -->

    <footer class="container" role="content info">
        <h6 class="text-center">Copyright &copy;</h6>
    </footer>
</body>

</html>