body {
    margin: 0;
    padding: 0;
}

#border {
    border-color: black;
    border-style: solid;
    border-width: 0.1px;
    padding: 6px 0 6px 0;
    /* border-radius: .25rem; */
}

.card {
    margin: 0 0 5px 10px;
}

.table-striped {
    margin: 0 10px 0 10px;
    width: 98%
}

#btn-next_monthly-period {
    margin: 0% 0% 4% 78%;
    width: 50%;
}

.form-control {
    height: calc(1.5rem + 2px);
    font-size: .75rem;
}

.btn {
    line-height: .75rem;
}

.buy-sell-title {
    padding-bottom: 10px;
}

.stock-lists {
    margin-bottom: 10px;
}