#border {
    border-color: black;
    border-style: solid;
    padding: 6px 0 6px 0;
}

.card {
    margin: 0 0 5px 10px;
}

.table-striped {
    margin: 0 10px 0 10px;
    width: 98%
}

/* html,
body,
header,
nav,
section,
article,
aside,
footer,
div,
table,
th,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
} */